body{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.wrapper-left{
    background-color: #1E1F22;
    width: 100px;
    height: 100vh;
}  

.wrapper-center{
    background-color: #2B2D31;
    width: 320px;
    height: 100vh;
}

.wrapper-center h2{
    color: #A1A6AC;
    text-transform: uppercase;
    margin: 3rem 0;
    text-align: center;
}

.main-sections{
    color: #A1A6AC;
    font-size: 1.8rem;
    line-height: 5rem;
    margin: 0 2rem;
}

.main-sections a{
    color: #A1A6AC;
    text-decoration: none;
}

.myFriends{
    color: #A1A6AC;
    line-height: 4rem;
}

.myFriends li{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem;
    padding: 0;
}

.myFriends li:hover{
    background-color: #404249;
    border-radius: 15px;
    color: #ffffff;
}

.myFriends a{
    text-decoration: none;
    color: #A1A6AC;
}

.wrapper-main{
    background-color: #313338;
    width: 100%;
    height: 100vh;
}

.wrapper-main h2{
    color: white;
    text-transform: uppercase;
    margin: 2.5rem 2rem;
    font-weight: bold;
}

.Nitro{
    background: rgb(109,102,241);
    background: linear-gradient(180deg, rgba(109,102,241,1) 0%, rgba(3,3,190,1) 52%, rgba(171,0,249,1) 87%);
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size: 2rem;
    padding: 10rem 0;
}

.Nitro h2{
    margin: 0;
}

.Nitro p{
    color: #ffffff;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.subscribe{
    background-color: #ffffff;
    margin: 2rem auto;
    width: 15%;
    height: 5vh;
    border-radius: 25px;
}

.subscribe p{
    color: #3b43ad;
    padding-top: .75rem;
}

.subscribe a{
    text-decoration: none;
}

.addAmigoBox p{
    color: #A1A6AC;
    margin: 0 2rem;
}

.addAmigo p{
    color: #A1A6AC;
    margin: 0 2rem;
}

.addAmigoBox{
    display: flex;
    background-color: #191a1c;
    padding: 1rem;
    margin: 2rem 2rem;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
}

.enviarPedido{
    background-color: #3b43ad;
    padding: 0.6rem;
    margin: 0;
    border-radius: 10px;
    color: #A1A6AC;
}

.adicionarAmigo{
    background-color: #248046;
    padding: .8rem;
    color: white;
    margin: 1rem 2rem 2rem;
    width: fit-content;
    border-radius: 15px;
}

.adicionarAmigo a{
    color: white;
    text-decoration: none;
}

.adicionarAmigo p{
    color: #A1A6AC;
    margin: 0 2rem;
}

.mainConversations{
    position: absolute;
    bottom: 5rem;
}

.typeBox{
    background-color: #383a40;
    padding: 1rem;
    margin: 1rem 1rem;
    border-radius: 25px;
    position: absolute;
    bottom: 0;
    width: 82%;
    color: #A1A6AC;
}

.activeConv{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 1rem 2rem;
    color: #A1A6AC;
    text-transform: uppercase;
    padding-bottom: 1rem;
    border-bottom: 2px solid #A1A6AC;
}

.userConv{
    display: flex;
    color: #DBDBD6;
    gap: 2rem;
    align-items: center;
    line-height: 2rem;
    margin: 1rem 2rem;
}

.userConv  h3{
    font-size: 1.2rem;
}